.parent-container {
  display: grid;
  border: pink;
  width: 100%;
  height: 250px;
  grid-template-areas: 
  "head head head"
  "nav main aside"
  "foot foot foot";
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}
.child:first-child {
  grid-area: head;
  background-color: pink;
}
.child:nth-child(2) {
  grid-area: nav;
  background-color: green;
}
.child-3 {
  grid-area: main; 
  background-color: gold;
}

.child-4 {
  grid-area: aside;
  background-color: green;
}

.child-5 {
  grid-area: foot; 
  background-color: blue;
}
